[req]
prompt = no
distinguished_name = req_distinguished_name

[req_distinguished_name]
C = CH
ST = Zurich
L = Zurich
O = Development / Testing
CN = *.vending.dev
emailAddress = hostmaster@vending.dev
